.hero-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    padding: 0;
}

.hero-content {
    max-width: 1000px;
}

.hero-greeting {
    color: var(--teal);
    font-family: var(--font-mono);
    font-size: clamp(var(--fz-sm), 5vw, var(--fz-md));
    font-weight: 400;
    margin: 0 0 30px 4px;
}

.hero-name {
    color: var(--lightest-slate);
}

.hero-role {
    color: var(--slate);
    margin-top: 10px;
    line-height: 0.9;
}

.hero-description {
    margin: 20px 0 0;
    max-width: 540px;
    color: var(--slate);
}