.projects-section {
    padding: 100px 0;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    position: relative;
}

.project-card {
    background-color: var(--light-navy);
    padding: 2rem 1.75rem;
    border-radius: var(--border-radius);
    transition: var(--transition);
    cursor: default;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.project-card:hover {
    transform: translateY(-7px);
}

.project-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.project-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.folder-icon {
    color: var(--teal);
}

.folder-icon svg {
    width: 40px;
    height: 40px;
}

.project-links {
    margin-right: -10px;
    color: var(--slate);
}

.project-links a {
    padding: 5px 10px;
}

.project-links a svg {
    width: 20px;
    height: 20px;
}

.project-title {
    margin: 0 0 10px;
    color: var(--lightest-slate);
    font-size: var(--fz-xxl);
}

.project-title a {
    position: static;
}

.project-title a:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.project-description {
    color: var(--light-slate);
    font-size: 17px;
    margin-bottom: 20px;
}

.project-tech-list {
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 0;
    margin: 20px 0 0 0;
    list-style: none;
}

.project-tech-list li {
    font-family: var(--font-mono);
    font-size: var(--fz-xxs);
    line-height: 1.75;
    margin-right: 15px;
    color: var(--slate);
}

.project-tech-list li:last-of-type {
    margin-right: 0;
}