.App {
    min-height: 100vh;
}

#content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0 150px;
    margin: 0 auto;
    max-width: 1600px;
}

@media (max-width: 1080px) {
    #content {
        padding: 0 100px;
    }
}

@media (max-width: 768px) {
    #content {
        padding: 0 50px;
    }
}

@media (max-width: 480px) {
    #content {
        padding: 0 25px;
    }
}